[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=str
Group=str

WorkingDirectory=/home/str/10tshk/
Environment="PYTHONPATH=/home/str/10tshk/"
ExecStart=/home/str/10tshk/.venv/bin/python /home/str/10tshk/bot_main.py

[Install]
WantedBy=multi-user.target